<div class="row-fluid">
  <div class="col-md-8">
    <h3>Hotels</h3>

    <form role="form">
      <p class="form-group">
        <label>Message</label>
        <input placeholder="Message..." ng-model="newMessage" class="form-control" required>
      </p>

      <p class="form-group">
        <label>Name:</label>
        <input type="text" name="name" ng-model="hotelName" class="form-control" />
      </p>

      <p class="form-group">
        <label>Description:</label>
        <textarea class="form-control" ng-model="description" rows="5" id="comment"></textarea>
      </p>

      <p>
        <button type="submit" ng-click="addMessage(newMessage, hotelName, description)">send</button>
      </p>
    </form>


    <ul id="messages" ng-show="messages.length">
      <li ng-repeat="message in messages | reverse">{{message.text}} {{message.hotelName}}</li>
    </ul>
  </div>



  <p class="alert alert-danger" ng-show="err">{{err}}</p>
